<h5 matDialogTitle class="text-center">
  Historial de cambios en este inventario
</h5>


<!-- <mat-dialog-content class="mat-typography">
  <div class="alert alert-info fw-bold" *ngIf="Events.length <= 0">
    Todavia no se registraron cambios aqui.
  </div>

  <div class="events">
    <div
      class="alert alert-success"
      *ngFor="let event of Events"
    >
      {{ event.detail }}
      <div class="badge bg-primary date fw-normal">{{ event.date|dayJS:'relative' | async }}</div>
    </div>
  </div>
</mat-dialog-content> -->
