:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--page-bg-color);
  color: var(--page-color);
  overflow: auto;

  --clientpage-li-bg-color: #555;
}
@media (prefers-color-scheme: light) {
  :host {
    --clientpage-li-bg-color: #555;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--page-bg-color);
  border-radius: 5px 5px 0px 0px;
  padding: 0.5rem;
  padding-bottom: 1rem;
  header {
    display: flex;
    width: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--page-color);
  }
  .info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 1rem;
    gap: 0.5rem;
    overflow: auto;
    li {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      padding: 0px 0.5rem;
      // border: 2px solid #eee;
      background-color: var(--clientpage-li-bg-color);
      color: var(--page-color);
      border-radius: 5px;
      .key {
        text-transform: capitalize;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #333;
  border-radius: 5px;
  padding: 1rem;
  gap: 1rem;
  color: #eee;
  overflow: auto;
  .presupuestos,
  .obras-activas {
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: 400px;
    max-height: 400px;
    overflow: auto;
    .presupuestos-list,
    .obras-list {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: minmax(max-content, 1fr);
      overflow-y: auto;
    }
  }
}
