:host {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 0.3rem;
  background-color: #333;
  border-radius: 5px;
  overflow: auto;
  color: #eee;
}

.wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  gap: 0.3rem;
  overflow: auto;
  @media (max-width: 768px) {
    .btn-print {
      display: none;
    }
  }
  // &.activePrint {
  //   width: max-content !important;
  //   .reports {
  //     width: 841px !important;
  //     overflow: visible !important;
  //   }
  // }

  .header {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    .title {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .options {
        display: flex;
        gap: 1rem;
      }
    }
    .tabs {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 0.5rem;
      .tab {
        display: flex;
        border: 2px solid transparent;
        border-radius: 5px;
        padding: 0.5rem;
        cursor: default;
        &:hover {
          background: #444;
        }
        &.active {
          border-color: #eee;
          background-color: #444;
        }
      }
    }
  }
  .report {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.3rem;
    overflow: auto;
    &.active-print {
      .table-container {
        table {
          background-color: #eee;
          color: #333;
          thead {
            font-size: 14px;
            tr {
              background-color: #fff;
              color: #333;
            }
          }
        }
      }
    }
    .title {
      padding: 0.2rem;
      border: 2px solid;
      text-align: center;
    }
  }
}

.printing {
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: transparent;
  z-index: 9;
}
