<!-- <nav
  class="navbar navbar-expand-lg bg-body-tertiary w-100 text-center sticky-top border-bottom border-secondary p-0"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let section of sections">
          <a
            class="nav-link"
            [routerLink]="[section.route]"
            routerLinkActive="active"
            >{{ section.section }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<ul class="navbar">
  <li
    class="navbar-item"
    *ngFor="let section of sections"
    routerLinkActive="active"
  >
    <a class="navbar-link" [routerLink]="[section.route]">{{
      section.section
    }}</a>
  </li>
</ul>

<div class="section-wrapper">
  <router-outlet></router-outlet>
</div>
