@import '../../../../../variables';

:host {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  grid-template-columns: 100%;
  grid-template-rows: max-content 1fr;
  background: $ActivePageBG;
}

$title-color-primary: #061729;
$text-color-primary: #828990;
$active-tab-color: #244464;
$active-tab-text: #043068;

header.inventory-header {
  display: flex;
  color: $title-color-primary;
  font-style: italic;
  font-size: 1.2rem;
  justify-content: flex-start;
  padding: 0.5rem;
  gap: 0.3rem;
  @media (max-width: 768px) {
    font-size: 1rem;
  }
  a {
    min-width: max-content;
    color: #e6e6e6;
    text-decoration: none;
    cursor: default;
    &.active {
      color: var(--bs-warning);
    }
    i { 
      position: absolute;
      top: -8px;
      right: 0px;
    }
  }
}

.page-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
