:host {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  grid-template-columns: 100%;
  grid-template-rows: max-content 1fr;
  background: var(--page-bg-color);
}

header.inventory-header {
  display: flex;
  font-style: italic;
  font-size: 1.2rem;
  justify-content: flex-start;
  padding: 0.5rem;
  gap: 0.3rem;
  @media (max-width: 768px) {
    font-size: 1rem;
  }
  a {
    min-width: max-content;
    color: var(--inventory-header-a-color);
    text-decoration: none;
    cursor: default;
    &.active {
      color: var(--bs-warning);
    }
    i { 
      position: absolute;
      top: -8px;
      right: 0px;
    }
  }
}

.page-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
