:host {
  --sidebar-bg-color: #333;
  --link-color: #ccc;
  --link-hover-bg-color: darkblue;
  --link-hover-color: #eee;
  --active-link-color: #eee;
  --active-link-bg-color: darkblue;
  --active-link-icon-color: #333;
}

@media (prefers-color-scheme: light) {
  :host {
    --sidebar-bg-color: #fff;
    --link-color: #707070;
    --link-hover-bg-color: #130066;
    --link-hover-color: #fff;
    --active-link-color: #fff;
    --active-link-bg-color: darkblue;
    --active-link-icon-color: darkblue;
  }
}

.sidebar {
  position: relative;
  display: flex;
  height: 100%;
  max-width: 70px;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--sidebar-bg-color);
  z-index: 2;
  overflow: hidden;
  transition: 500ms all;
  border-right: 2px solid #222;
  padding: 0.2rem;
  @media (width <= 768px) {
    max-width: 100%;
    gap: 0px !important;
    flex-direction: row !important;
    padding: 0.5rem;
    &:hover {
      max-width: 100% !important;
    }
    .navigation {
      flex-grow: 1;
      overflow: hidden;
      ul {
        gap: 0px !important;
        flex-direction: row !important;
        li {
          justify-content: center;
          flex-basis: calc(100% / 6);
          overflow: hidden;
          a {
            display: none !important;
          }
          i {
            width: 100%;
          }
        }
      }
    }
    .brand {
      display: none !important;
    }
    .user-info {
      display: none !important;
    }
    #spacer {
      display: none !important;
    }
    .log-out {
      margin: 0px !important;
      justify-content: center;
      align-items: center;
      padding-bottom: 0px !important;
      button {
        padding: 0.5rem 0;
        span {
          display: none !important;
        }
        i {
          min-width: 40px !important;
        }
      }
    }
  }

  &:hover {
    max-width: 220px;
    .navigation li a {
      visibility: visible !important;
    }
    .user-info {
      visibility: visible !important;
    }
  }

  .brand {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 1rem;
    img {
      width: 220px;
      padding-right: 0.5rem;
    }
    > button {
      position: absolute;
      display: none;
      top: 10px;
      right: 5px;
      color: #8e9097;
    }
  }

  .user-info {
    display: flex;
    visibility: hidden;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: darkblue;
    text-align: center;
    transition: 500ms all;
    border-radius: 5px;
  }

  .navigation {
    display: flex;
    width: 100%;
    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      list-style: none;
      gap: 1.5rem;
      margin: 0px;
      padding: 0px;
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem 0;
        transition: all 0.2s;
        color: var(--link-color);
        border-radius: 5px;
        i {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 64px;
          font-size: 25px;
        }
        a {
          visibility: hidden;
          text-decoration: none;
          padding: 0;
          margin: 0;
        }
        &:not(.active):hover {
          position: relative;
          background-color: var(--link-hover-bg-color);
          color: var(--link-hover-color);
        }
        &.active {
          background-color: var(--active-link-bg-color);
          color: var(--active-link-color);
        }
      }
    }
  }

  .log-out {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0.2rem;
    button {
      display: flex;
      color: var(--link-color);
      white-space: nowrap;
      margin-bottom: 1rem;
      background: transparent;
      outline: none;
      box-shadow: none;
      border: none;
      margin: 0px;
      padding: 0;
      cursor: pointer !important;
    }
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 70px;
      font-size: 25px;
    }
  }
}
