<table class="table" data-bs-theme="dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apelido</th>
      <th scope="col">Email</th>
      <th scope="col">Telefono</th>
      <th scope="col">Fecha</th>
      <th scope="col">Mensaje</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contactPresupuestos; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ contact.name }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.tel }}</td>
      <td>{{ contact.createdAt | date }}</td>
      <td>{{ contact.message }}</td>
    </tr>
  </tbody>
</table>
